uvicorn==0.23.2
fastapi==0.104.1
langchain==0.3.4
langchain-core==0.3.12
langchain-community==0.3.3
langchain-openai==0.2.3
langchain-aws==0.2.3
openai==1.52.0
python-decouple==3.8
psycopg2-binary==2.9.9
sqlalchemy-bigquery==1.11.0
google-cloud-bigquery-storage==2.22.0
pyarrow
PyAthena==3.8.2
oracledb==2.2.0
boto3==1.34.131
sqlalchemy-redshift==0.8.14
redshift-connector==2.0.917
mysqlclient==2.2.4
trino==0.329.0
snowflake-connector-python==3.12.2
snowflake-sqlalchemy==1.6.1
