jupyter_server==2.12.1
ipykernel==6.27.1
matplotlib==3.8.2
numpy==1.26.2
pandas==1.5.3
psycopg2==2.9.9
plotly==5.18.0
scipy==1.11.4
transformers==4.36.0
ipywidgets==7.8.1
seaborn==0.13.0
altair==5.2.0
altair-viewer
altair-transform==0.2.0
boto3==1.35.5
vegafusion==1.5.0
vegafusion-python-embed==1.5.0
vl-convert-python==1.2.0
tiktoken==0.5.2
polars==0.19.19
SQLAlchemy==2.0.34
google-api-core==2.15.0
google-api-python-client==1.6.7
google-api-support==0.1.4
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-aiplatform==1.38.0
google-cloud-appengine-logging==1.4.0
google-cloud-audit-log==0.2.5
google-cloud-bigquery==3.14.0
google-cloud-bigquery-connection==1.14.0
google-cloud-bigquery-storage==2.24.0
google-cloud-billing==1.12.0
google-cloud-core==2.4.1
google-cloud-functions==1.14.0
google-cloud-iam==2.13.0
google-cloud-logging==3.9.0
google-cloud-resource-manager==1.11.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
db-dtypes==1.2.0
fastparquet==2024.2.0
oracledb==2.2.0
pymssql==2.3.1
redshift-connector==2.0.917
sqlalchemy-bigquery==1.11.0
# sqlalchemy-redshift==0.8.14
git+https://github.com/briefercloud/sqlalchemy-redshift.git#egg=sqlalchemy-redshift
trino==0.329.0
duckdb==1.0.0
openpyxl==3.1.2
mysqlclient==2.2.4
pymongo==4.8.0
